@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
}

:root{
    --background: #fff;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container{
    position: relative;
    width: 95%;
    height: 95vh;
    background: var(--background);
    border-radius: 20px;
    overflow: hidden;
}

.navigation {
    position: fixed;
    top: 2vh;
    left: 20px;
    bottom: 20px;
    /* width: 200px; */
    width: 12%;
    height: 96vh;
    border-radius: 20px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
}

.navigation .logo a{
    position: absolute;
    left: -20px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.navigation .logo a img {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin: 20px;
}

.navigation .logo a h2 {
    position: relative;
    top: 4px;
    font-size: 2em;
    color: #fff;
}


.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 250px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active{
    /* background-color: #fff; */
    background: var(--background);
}

/* ================================================================= */
.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    /* background: #fff; */
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #4d5bf9;
}

.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    /* background: #fff; */
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #4d5bf9;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}
/* ================================================================= */

.navigation ul li a{
    position: relative;
    top: 5px;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a{
    color: #333;
}

.navigation ul li.active a{
    color: #333;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 50px;
    white-space: normal;
}

.contents{
    position: relative;
    width: 100%;
    height: 100%;
    /* left: 170px; */
    left: 11%;
    overflow: hidden;
    padding: 40px 10px;
}

/* 원페이지로 만들어 주는 css */
.showBox{
    display:none;
}

.showBox.active{
    display:block;
}
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
}

:root{
    --background: #fff;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container{
    position: relative;
    width: 95%;
    height: 95vh;
    background: var(--background);
    border-radius: 20px;
    overflow: hidden;
}

.navigation {
    position: fixed;
    top: 2vh;
    left: 20px;
    bottom: 20px;
    /* width: 200px; */
    width: 12%;
    height: 96vh;
    border-radius: 20px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
}

.navigation .logo a{
    position: absolute;
    left: -20px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.navigation .logo a img {
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin: 20px;
}

.navigation .logo a h2 {
    position: relative;
    top: 4px;
    font-size: 2em;
    color: #fff;
}


.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 250px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active{
    /* background-color: #fff; */
    background: var(--background);
}

/* ================================================================= */
.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    /* background: #fff; */
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #4d5bf9;
}

.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    /* background: #fff; */
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #4d5bf9;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}
/* ================================================================= */

.navigation ul li a{
    position: relative;
    top: 5px;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a{
    color: #333;
}

.navigation ul li.active a{
    color: #333;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 50px;
    white-space: normal;
}

.contents{
    position: relative;
    width: 100%;
    height: 100%;
    /* left: 170px; */
    left: 11%;
    overflow: hidden;
    padding: 40px 10px;
}

/* 원페이지로 만들어 주는 css */
.showBox{
    display:none;
}

.showBox.active{
    display:block;
}

/* 메인 화면 홈 css - contents */
#home{
    width: 100%;
    height: 100%;
}

#home .circle{
    background: #7e88f4;
    position: absolute;
    right: -80px;
    top: -350px;
    width: 750px;
    height: 750px;
    border-radius: 50%;
}

#home .mainIMG{
    position: absolute;
    bottom: 30px;
    right: 410px;
    width: 400px;
    height: 400px;
}

#home .home-contents{
    position: relative;
    top: 20px;
    left: 50px;
    width: 83%;
    height: 90%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    /* glassmorphism */
    background: rgba( 255, 255, 255, 0.08 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#home .home-contents h2{
    font-size: 4rem;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

#home .home-contents h2::before{
    transition: all .5s;
    content: "";
    position: absolute;
    top: 230px;
    left: 40px;
    width: 430px;
    height: 3px;
    background: #000;
    opacity: 0;
}

#home .home-contents:hover h2::before{
    opacity: 1;
}

#home .home-contents .description{
    font-size: 1.8rem;
    margin-bottom: 50px;
}

#home .home-contents .site {
    font-size: 1.2rem;
}

#home .home-contents .site a{
    text-decoration: none;
    color: #5b67eb;
}

