<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSP_project</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <!-- side menu items -->
        <div class="navigation">
            <div class="logo">
                <a href="./index.html">
                    <img src="../static/images/logo.jpg" alt="">
                    <h2>OSP</h2>
                </a>
            </div>
            <ul>
                <li class="list active">
                    <b></b>
                    <b></b>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Team</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="analytics-outline"></ion-icon>
                        </span>
                        <span class="title">Project</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>                    
                        </span>
                        <span class="title">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contents">
            <!-- 홈 -->
            <div class="showBox active", id="home">
                <div class="circle"></div>
                <div class="home-contents">
                    <h2>병원 추천 서비스</h2>
                    <p class="description">저희 웹 사이트는 자신의 증상에 대한 예상 병명을 알려주고,<br>주위 병원을 추천해주는 서비스입니다.</p>
                    <p class="site">
                        주요 크롤링 사이트(링크) : 
                        <a href="https://www.amc.seoul.kr/asan/healthinfo/symptom/symptomSubmain.do" target="_blank" >서울 아산병원</a>,
                        <a href="https://map.naver.com/" target="_blank" >네이버 지도</a>
                    </p>
                </div>
                <div class="mainIMG"><img src="../static/images/main_image.png" alt=""></div>
            </div>
            <!-- 팀 -->
            <div class="showBox" id="team">
            </div>
            <!-- 프로젝트 -->
            <div class="showBox" id="project">
                <form method="POST" action="/project_2">
                    부위 <input name="part" type="text">
                    증상 <input name="sym" type="text">
                    <input type="submit" name="send" value="Send" > <br>
                </form>
            </div>
            <!-- 연락처 -->
            <div class="showBox" id="contact">
            </div>
        </div>     
    </div>
    <!-- incon js -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- main js -->
    <script>
        let list = document.querySelectorAll('.list');
        let list2 = document.querySelectorAll('.showBox');
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = function () {
                let j = 0;
                while (j < list.length) {
                    list[j].className = 'list';
                    list2[j++].className = 'showBox';
                }
                list[i].className = 'list active';
                list2[i].className = 'showBox active';
            }
        }
    </script>
</body>
</html>